body{
    background-image: url("../../image/grunge-paper_1048-5207.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
}

#images{
    
    padding-top: 30px;
    padding-left: 480px;
}

img{
    height: 310px;
    margin: 7px;
    box-shadow: 10px 10px 15px rgb(139, 79, 0);
}

#titel{
    padding-top: 30px;
    font-size: 200px;
    text-align: center;
    margin-right: 8px;
    font-family: 'Monotype corsiva';
    color: rgb(71, 40, 10);

}






